In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
sec_data.tail()

                    PG     BEI.DE
Date
2021-03-29  137.570007  89.520622
2021-03-30  135.449997  89.342018
2021-03-31  135.429993  89.401550
2021-04-01  134.279999  89.600006
2021-04-05  136.449997        NaN

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2021-03-29  0.015530  0.015189
2021-03-30 -0.015530 -0.001997
2021-03-31 -0.000148  0.000666
2021-04-01 -0.008528  0.002217
2021-04-05  0.016031       NaN

[3588 rows x 2 columns]

# Covariance and Correlation

In [4]:
PG_var = sec_returns['PG'].var()
PG_var

0.00014075316989881154

In [5]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.0001918778459616805

In [6]:
PG_var_annual = sec_returns['PG'].var() *250
PG_var_annual

0.035188292474702884

In [7]:
BEI_var_annual = sec_returns['BEI.DE'].var() *250
BEI_var_annual

0.047969461490420126

In [8]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000141  0.000045
BEI.DE  0.000045  0.000192

In [9]:
cov_matrix_annual = sec_returns.cov() *250
cov_matrix_annual

              PG    BEI.DE
PG      0.035188  0.011135
BEI.DE  0.011135  0.047969

In [10]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.270679
BEI.DE  0.270679  1.000000

# Calculating the risk of a portfolio

Equal weighting scheme:

In [11]:
weights = np.array([0.5, 0.5])

#### Portfolio Variance:

In [12]:
pfolio_var = (np.dot(weights.T, np.dot(sec_returns.cov() *250, weights)))
pfolio_var

0.0263569855226154

#### Portfolio Volitality:

In [13]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() *250, weights))) **0.5
pfolio_vol

0.1623483462269185

In [14]:
print ((str(round(pfolio_vol, 4)*100)) + '%')

16.23%

# Calculating Diversifiable & Undiversifiable Risk of a Portfolio

In [15]:
weights = np.array([0.5, 0.5])

In [16]:
weights[0]

0.5

In [17]:
weights[1]

0.5

#### Diversifiable Risk

## PG_var_annual = sec_returns['PG'].var() *250
PG_var_annual

In [19]:
BEI_var_annual = sec_returns['BEI.DE'].var() *250
BEI_var_annual

0.047969461490420126

In [20]:
dr = pfolio_var - (weights[0]**2 * PG_var_annual) - (weights[1]**2 * BEI_var_annual)
dr

0.005567547031334646

In [26]:
print (str(round(dr*100, 3)) + ' %')

0.557 %

#### Un-Diversifiable Risk

In [29]:
u_dr = pfolio_var - dr
u_dr

0.020789438491280753

In [30]:
u_dr_alternative = (weights[0]**2 * PG_var_annual) + (weights[1]**2 * BEI_var_annual)
u_dr_alternative

0.020789438491280753

In [31]:
u_dr == u_dr_alternative

True